body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
    font-family: 'VT323', monospace;
    color: white
}
/*https://coolors.co/cc8b86-f9eae1-7d4f50-d1be9c-aa998f*/
.PantallaEntera {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

#PantallaJuego {
    display: grid;
    grid-template-areas: 
        "h h h h h h h h h"
        "i i m m m m m p p"
        "i i m m m m m p p"
        "i i m m m m m p p"
        "i i m m m m m p p"
        "i i m m m m m p p";
    justify-content: center;
    align-items: center;
}

#PantallaJuego > header {
    grid-area: h;
}

#PantallaJuego > #Instrucciones {
    grid-area: i;
}

#PantallaJuego > #Mapa {
    grid-area: m;
}

#PantallaJuego > #Puntuacion {
    grid-area: p;
}

#Instrucciones {
    width: 300px;
    justify-self: right;
    padding-right: 45px;
}

#Puntuacion {
    width: 300px;
    justify-self: left;
    padding-left: 45px;
}

#PantallaJuego header {
    text-align: center;
}

#Mapa {
    /*height: 100vh;*/
    /*width: 95vh;*/
    /*grid-template-columns: repeat(20,5vh);*/
    /*grid-template-rows: repeat(20,5vh);*/ /*Los silenciados se generan automáticamente*/
    display: grid;
    padding: 0px;
    margin: auto;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    /*
    box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.4); */
}

.Columna {
    border-style: none;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.Celda {
    background-color: white;
    padding: 0px;
    margin: 0px;
    /**/
    border-style: solid;
    border-width: 1px;
    /**/
    height: 45px;
    width: 45px;
    border-width: 0px;
}

.Suelo {
    background-color: #AAAAAA;
    background-image: url(assets/suelo.jpeg);
}

.Muro {
    background-color: #363636;
    background-image: linear-gradient(
        to right top,
        transparent 40%,
        black 40%,
        black 60%,
        transparent 66%
    );
    background-size: 3px 3px;
    image-rendering: pixelated;

}

.Cultivo {
    background-color: #55ffa1;
    background-image: url(assets/cultivoVivo.PNG);
}

.CultivoMuerto {
    background-color: darkgreen;
    background-image: url(assets/cultivoMuerto.jpeg);
}

.Spawn {
    background-color: rgb(100, 0, 0);
    background-image: url(assets/spawn.jpeg);
}

.RabbitSpawn {
    background-image: url(assets/spawnLiebre.jpeg);
    background-color: darkgoldenrod;
}

.WrapperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#PantallaDePausa {
    background: radial-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4));
    color: whitesmoke;
    visibility: hidden;
}

#PantallaDePausa header {
    font-size: 60px;
}

/*https://getcssscan.com/css-buttons-examples*/
#PantallaDePausa button {
    height: 25px;
    color: white;
    background: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0.6));
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 0px 0px 3px 3px #F3EAF4;
}


#FinJuego {
    visibility: hidden;
    background: radial-gradient(rgba(244,228,186,0.7),rgba(248, 196, 65,1)),
                radial-gradient(rgba(1,1,1,1),rgba(1,1,1,0.8));
}

#FinJuego header {
    font-size: 50px;
}


#Aaron {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: lightgreen;
    border-width: 0px;
    top: 20px;
    left: 20px;
}

#Liebre {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: red;
    border-width: 0px;
    top: 100px;
    left: 100px;
}

